<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eteam.dufour.mobile"
    android:versionCode="33"
    android:versionName="5.6 (Android Customer Test)" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ElahApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/elah_mobile"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@android:style/Theme.Black.NoTitleBar" >
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ElahSyncPage"
            android:configChanges="orientation|screenSize|keyboardHidden" >
        </activity>
        <activity
            android:name=".ElahToBeSent"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".ElahPointOfSale"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".SurveyTabActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name=".SurveyCreateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".SurveySuccessActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" >
        </activity>
        <activity
            android:name=".SurveySaveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".SurveyFailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ActivityCustomerDetail"
            android:configChanges="orientation|screenSize|keyboardHidden" >
        </activity>
        <activity
            android:name=".DetailProdottiActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" >
        </activity>
        <activity
            android:name=".DetailPromozioniActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" >
        </activity>
        <activity
            android:name=".DetailSalesStatActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" >
        </activity>
        <activity
            android:name=".AlertMsgActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".AlertUpdateActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ConfirmDraftActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ConfirmCopyActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".ElahFileBrowser"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name="com.eteam.dufour.service.ServiceLauncher" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>

                <category android:name="android.intent.category.HOME" >
                </category>

                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.eteam.dufour.service.UpdateReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.eteam.dufour.service.UpdateService.ACTION_UPDATION" >
                </action>
            </intent-filter>
        </receiver>

        <service
            android:name="com.eteam.dufour.service.UpdateService"
            android:enabled="true" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="60951159f1f3fc2f733898308f508c4acc3efd18" />
    </application>

</manifest>